* {
  box-sizing: border-box;
  font-family: 'SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body,
html {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  align-items: center;
  background: lightgrey;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

button {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  text-align: start;
  user-select: text;
}

@media not all and (max-width: 64em) {
  button:focus,
  label:focus {
    outline: 1px dotted black;
  }
}

form {
  margin: 0;
}

p {
  margin: 0;
}

p a {
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

select {
  background: none;
  border: none;
  margin: -0.25em -0.15em;
  padding-right: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select +.arrow {
  display: flex;
  justify-content: center;
  pointer-events: none;
  width: 1em;
}

select + .arrow:after {
  content: '\f3d0';
  display: flex;
  font-family: Ionicons;
  margin-top: 0.15em;
}

textarea {
  -webkit-appearance: textfield;
}

.click,
.click * {
  cursor: pointer;
}

.transition {
  transition: all 0.25s ease-in-out;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@media not all and (max-width: 48em) {
  .button.show-menu {
    display: none !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  *,
  *:before {
    border-width: 0.5px !important;
  }
}
