.group {
  margin-top: 1em;
}

.col.any {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.row.any {
  display: flex;
  flex-direction: row;
}

@media not all and (max-width: 48em) {
  .panel:not(.outset-x) .group {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media not all and (max-width: 64em) {
  .col {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .panel:not(.outset-x) .row > .group {
    flex: 1;
  }

  .col.left > .group,
  .row.left > .group + .group {
    margin-right: 0;
  }

  .col.right > .group,
  .row.right > .group + .group {
    margin-left: 0;
  }
}

/* Body */

.group > .body {
  overflow: hidden;
}

.group > .body {
  border-top: 1px solid lightgrey;
}

.group > .body:not(:empty) {
  border-bottom: 1px solid lightgrey;
}

@media not all and (max-width: 48em) {
  .panel:not(.outset-x) .group > .body {
    border: none;
  }
}

/* Comment */

.group > .comment {
  color: darkgrey;
  display: flex;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 1em 0;
}

/* Hint */

.group > .hint:not(:empty) {
  padding: 0 1.111em 0.555em;
}

/* Title */

.group > .title:not(:empty) {
  color: darkgrey;
  display: flex;
  font-size: 0.9em;
  padding: 0 1.111em 0.555em;
  text-transform: uppercase;
}

.group > .title.fold:active {
  opacity: 0.5;
}

.group > .title.fold:after {
  font-family: Ionicons;
  font-size: 1.25em;
  margin-left: auto;
  transition: transform 0.25s ease-in-out;
  width: 0.5em;
}

*[dir=rtl] .group > .title.fold:after {
  margin-left: 0;
  margin-right: auto;
}

.group > .title.fold.all:after {
  content: '\f3d0';
}

.group.folded > .title.fold.all:after {
  transform: rotate(-90deg);
}

.group > .title.fold.some:after {
  content: '\f1fc';
}

.group.folded > .title.fold.some:after {
  content: '\f102';
}

.panel.outset-y .group > .title {
  margin-bottom: 0;
  margin-top: 0;
}
