.log {
  background: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  display: flex;
  padding: 1em;
}

.panel:not(.outset-x) .log {
  border: none;
  border-radius: 0.5em;
}

.log > * > .action {
  flex: 1;
  margin-top: 0.5em;
}

.log > * > .date {
  align-items: center;
  display: flex;
  position: relative;
}

.log > * > .date > .arrow:after {
  content: '\f119';
  font-size: 1.25em;
  font-family: Ionicons;
  margin: 0 0.15em;
}

.log > * > .date > .date {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 5.25em;
}

.log > * > .date > .date > input {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.log > * > .date > .date > input::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
}

.log > * > .date > .date > input::-webkit-clear-button,
.log > * > .date > .date > input::-webkit-inner-spin-button {
  display: none;
}

.log > * > .date > .date > button {
  white-space: nowrap;
}

.log > * > .name {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  padding-right: 0.5em;
  width: 50%;
}

.log > * > .name select {
  background: none;
  border: none;
  font-size: 1.25em;
  max-width: 100%;
  margin: -0.25em -0.15em;
  padding-right: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.log > * > .name .arrow {
  margin-left: -0.5em;
  pointer-events: none;
}

.log > * > .name .arrow:after {
  content: '\f3d0';
  display: flex;
  font-family: Ionicons;
  margin-top: 0.15em;
}

.log > * > .tab {
  margin-top: 0.5em;
}
